.light {
    --primary-color: #6C63FF;
    --secondary-color: #3f3d56;
    --subtle-color: #e6e6e6;
    --shadow-color: #c7c7c7;
    --bold-color: white;
    --contrast-bold-color: black;
    --error: #fa6666;

    --main-background-color: white;
    --logo-color: #6C63FF;

    /* INDEX */
    --landing-txt-color: var(--contrast-bold-color);
    --signup-btn-color: var(--primary-color);
    --login-btn-color: var(--bold-color);
}
.dark {
    --primary-color: #4d4d4d;
    --secondary-color: #908cb1;
    --subtle-color: #9e9e9e;
    --shadow-color: #414141;
    --contrast-bold-color: rgb(255, 255, 255);
    --error: #fa6666;

    --main-background-color: black;
    --logo-color: white;

    /* INDEX */
    --landing-txt-color: var(--contrast-bold-color);
    --signup-btn-color: var(--primary-color);
    --login-btn-color: var(--bold-color);

}