@font-face {
  font-family: "open-sans-light";
  src: url("./OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-light-italic";
  src: url("./OpenSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans";
  src: url("./OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-italic";
  src: url("./OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-medium";
  src: url("./OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-medium-italic";
  src: url("./OpenSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-semibold";
  src: url("./OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-semibold-italic";
  src: url("./OpenSans-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-bold";
  src: url("./OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-bold-italic";
  src: url("./OpenSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-extrabold";
  src: url("./OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "open-sans-extrabold-italic";
  src: url("./OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
